
.full-page {
  min-height: 100vh;
  min-width: 100vw;
  padding: 5rem 0;
  background-color: rgb(223, 223, 3);
  .pokemon-container {    
    min-height: 90vh;    
    background: linear-gradient(to right, rgb(223, 5, 5), rgb(242, 86, 86), rgb(206, 53, 53), rgb(238, 40, 40));
    padding: 5rem;
    .poke-header {
      font-size: 6.5rem;
      margin-top: .2rem;
      border-top: solid 1rem rgb(194, 194, 3);
      justify-content: space-around;
      display: flex;  
      .poke-name {
        font-weight: bold;
      }    
      .poke-number {
        color: #ffaeae;
      }
    }
    .poke-image {
      background-color: rgb(194, 194, 3);
      padding: 2rem;
      box-shadow: 2px 3px 10px 5px;
      text-align: center;
      &-container {
        background: linear-gradient(to right, rgb(223, 5,5),#610808);
        img {
          min-width: 36rem;
        }
      }
    }
    .poke-info {
      margin-top: 2rem;
      padding: 0 2rem;
      &-header {        
        font-size: 3.3rem;
        font-weight: 600;
        text-align: center;
        background-color: rgb(194, 194, 3);
        box-shadow: 4px 2px 4px 2px;
        margin-bottom: 2rem;
      }
      &-body {
        &-header {
          font-size: 4rem;
          font-weight: 700;
          color: purple;
        }
        &-info {
          font-size:3.5rem;
          
        }
      }
    }
  }
}


