
.animation {
  background: -moz-linear-gradient(top left, green, bottom right, blue );
  background: repeating-linear-gradient(210deg, rgb(128, 215, 244), blue 5%, lightblue 10%);
  .pokeBall-container {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    .pokemon-ball {
      position: absolute;
      top: 0;
      left: 0;
      animation: pokeBall 3s linear 0s forwards;
      
    }
  
  }

}


@keyframes pokeBall {
  0% {
    height: 20rem;
    transform: translate(0%, 0%);
  }
  100% {
    height: 45rem;
    transform: translate(75%, 50%);
  }
}