
.full-page {
  min-height: 100vh;
  min-width: 100vw;
  padding: 5rem 0;
  
  .pokemon-container {    
    background: linear-gradient(to left, rgb(184, 184, 4), rgb(223, 223, 3));
    padding: 2rem;
    max-width: 72rem !important;
    min-width: 34rem;
    border-radius: .8rem;
    .poke-card {
      margin: 0 auto;
      min-height: 90vh;   
      max-width: 70rem; 
      min-width: 32rem;
      padding: 5rem;
      background: linear-gradient(to right, rgb(223, 5, 5), rgb(242, 86, 86), rgb(206, 53, 53), rgb(238, 40, 40));
      border: 7px solid black;
      .poke-header {
        font-size: 6.5rem;
        margin-top: .2rem;
        border-top: solid 1rem rgb(194, 194, 3);
        justify-content: space-around;
        display: flex;  
        .poke-name {
          text-transform: capitalize;
          font-weight: bold;
        }    
        .poke-number {
          color: #ffaeae;
        }
      }
      .poke-image {
        background-color: rgb(194, 194, 3);
        padding: 2rem;
        box-shadow: 2px 6px 35px 5px;
        text-align: center;
        &-container {
          background: linear-gradient(to right, rgb(223, 5,5),#610808);
          img {
            min-width: 36rem;
          }
        }
      }
      .poke-info {
        margin-top: 2rem;
        padding: 0 2rem;
        &-header {        
          font-size: 3.3rem;
          font-weight: 600;
          text-align: center;
          background-color: rgb(194, 194, 3);
          box-shadow: 4px 2px 30px 2px;
          margin-bottom: 2rem;
        }
        &-body {
          border-bottom: solid black 3px;
          text-align: center;
          &-header {
            font-size: 4rem;
            font-weight: 700;
            color: purple;
          }
          &-info {
            font-size:3.5rem;
  
          }
        }
      }
    }
  }
}


